<div class="btn-group btn-group-solid">
    {%  if login_route is defined and login_route is not empty %}<a href="{{ path(login_route, {'id':dt_item}) }}" class="btn btn-warning btn-xs tooltips" title="{{ "Login as"|trans }}"><i class="fa fa-unlock"></i></a>{% endif %}
    {%  if view_route is defined and view_route is not empty %}<a href="{{ path(view_route,{'id':dt_item}) }}" class="btn green-jungle btn-xs tooltips" data-placement="top" data-container="body" data-original-title="{{ "View"|trans }}"><i class="fa fa-eye"></i></a>{% endif %}
    {%  if edit_route is defined and edit_route is not empty %}<a href="{{ path(edit_route,{'id':dt_item}) }}" class="btn btn-primary btn-xs tooltips" data-placement="top" data-container="body" data-original-title="{{ "Change"|trans }}"><i class="fa fa-edit"></i></a>{% endif %}
    {%  if delete_route is defined and delete_route is not empty %}<a href="{{ path(delete_route,{'id':dt_item}) }}" class="btn btn-danger btn-xs deleterow tooltips" data-placement="top" data-container="body" data-original-title="{{ "Delete"|trans }}"><i class="fa fa-trash-o"></i></a>{% endif %}
</div>
